header {
    padding-top: 70px;
}

.my_card {
    background-color: inherit;
    border: none;
}

.my_card_link {
    border: 2px solid #1A0000;
    border-radius: 7px;
    margin-bottom: 1rem;
    transition: all .7s ease;
    /* text-shadow: 1px 1px 8px white; */
    box-shadow: 4px -5px 5px 0px rgba(0,0,0,0.75);
    overflow: hidden;
}

.my_card_link:hover {
    background-color: var(--first-color); 
    border: 0.5px solid red;
    box-shadow: none;
}

.my_card_link img {
    height: 40rem;
    width: 100%;
    transition: all .7s ease;
}

.my_card_img {
    overflow: hidden;
}

.my_card_link:hover img {
    transform: scale(1.1);
}

.my_card_link .my_card_body {
    height: 18rem;
    font-size: 1rem;
    background-color: #1A0000;
}

.my_card_link .line_clamp {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.my_card_link .text_color {
    color: white;
}

.my_card_link .raiting {
    background-color: #58287F;
    padding: .3rem;
    border-radius: 50%;
}

.my_card_link .my_card_title {
    font-size: 1.4rem;
}

.pages {
    font-size: 1.25rem;
    color: #58287F;
}

@media (max-width: 560px) {
    .my_card {
        padding: 0;
    }
}