.my_card {
    background-color: var(--first-color);
    background-image: var(--bg-linear-gradient);
    border: none;
    padding-top: 5rem;
    max-width: 100%;
} 

.my_card_body {
    background-color: black;
    min-height: 100vh;
    box-shadow: 4px -5px 5px 0px rgb(0 0 0 / 75%);
    color: #FF4D00;

}

.my_card_down {

}

.my_card_img img {
    width: 100%; 
    height: 100vh;
    object-fit: fill;
    box-shadow: 4px -5px 5px 0px rgb(0 0 0 / 75%);
}

.my_card_body .my_card_title {
    letter-spacing: 0.1rem;
    font-size: 1.8rem;
    border-bottom: 1px solid black;
}

.my_card_body .my_card_overview {
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
} 

.my_card_body .my_card_tagline {
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    font-family: 'Dancing Script', cursive;
}

.my_card_body .footer {
    display: flex;
    justify-content: space-between;
}