.my_card {
    background-color: var(--first-color);
    background-image: var(--bg-linear-gradient);
    border: none;
    padding-top: 5rem;
    max-width: 100%;
} 

.my_card_body {
    background-color: black;
    height: 90vh;
    box-shadow: 4px -5px 5px 0px rgb(0 0 0 / 75%);

}

.my_card_down {

}

.my_card_img img {
    width: 100%; 
    height: 90vh;
    /* object-fit: fill; */
    box-shadow: 4px -5px 5px 0px rgb(0 0 0 / 75%);
}

.my_card_body .my_card_title {
    font-size: 1.5rem;
    border-bottom: 1px solid black;
}

.my_card_body .my_card_overview {
    font-size: 1.1rem;
} 